/Bitz/Bitz.Business/obj
/Bitz/Bitz.Business/bin
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/ar/Csla.resources.dll
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/Bitz.Cargo.dll
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/Bitz.Cargo.pdb
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/bs/Csla.resources.dll
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/ca-ES/Csla.resources.dll
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/Csla.dll
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/Csla.xml
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/da/Csla.resources.dll
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/de/Csla.resources.dll
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/el/Csla.resources.dll
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/es-ES/Csla.resources.dll
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/es/Csla.resources.dll
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/fr/Csla.resources.dll
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/he-IL/Csla.resources.dll
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/hr/Csla.resources.dll
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/hu/Csla.resources.dll
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/it/Csla.resources.dll
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/km-KH/Csla.resources.dll
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/nl/Csla.resources.dll
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/no/Csla.resources.dll
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/pt-br/Csla.resources.dll
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/pt/Csla.resources.dll
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/ro/Csla.resources.dll
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/ru/Csla.resources.dll
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/sr/Csla.resources.dll
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/sv/Csla.resources.dll
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/tr/Csla.resources.dll
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/uk-ua/Csla.resources.dll
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/vi/Csla.resources.dll
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/zh-Hans/Csla.resources.dll
/Bitz.Cargo/Bitz.Cargo.Business/bin/Debug/zh-TW/Csla.resources.dll
/Bitz.Cargo/Bitz.Cargo.Business/obj/Debug/Bitz.Cargo.Business.csproj.FileListAbsolute.txt
/Bitz.Cargo/Bitz.Cargo.Business/obj/Debug/Bitz.Cargo.Business.csprojResolveAssemblyReference.cache
/Bitz.Cargo/Bitz.Cargo.Business/obj/Debug/Bitz.Cargo.Business.dll
/Bitz.Cargo/Bitz.Cargo.Business/obj/Debug/Bitz.Cargo.Business.pdb
/Bitz.Cargo/Bitz.Cargo.Business/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Bitz.Cargo/Bitz.Cargo.Business/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Bitz.Cargo/Bitz.Cargo.Business/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Bitz.Cargo/Bitz.Cargo.Business/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Bitz.Cargo/Bitz.Cargo.WPF/bin/Debug/Bitz.Cargo.dll
/Bitz.Cargo/Bitz.Cargo.WPF/bin/Debug/Bitz.Cargo.pdb
/Bitz.Cargo/Bitz.Cargo.WPF/bin/Debug/Bitz.Core.dll
/Bitz.Cargo/Bitz.Cargo.WPF/bin/Debug/Bitz.Core.pdb
/Bitz.Cargo/Bitz.Cargo.WPF/bin/Debug/De.TorstenMandelkow.MetroChart.dll
/Bitz.Cargo/Bitz.Cargo.WPF/bin/Debug/FirstFloor.ModernUI.dll
/Bitz.Cargo/Bitz.Cargo.WPF/bin/Debug/FirstFloor.ModernUI.xml
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Bitz.Cargo.dll
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Bitz.Cargo.g.resources
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Bitz.Cargo.pdb
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Bitz.Cargo.WPF.csproj.FileListAbsolute.txt
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Bitz.Cargo.WPF.csprojResolveAssemblyReference.cache
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Bitz.Cargo_MarkupCompile.cache
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Bitz.Cargo_MarkupCompile.i.cache
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Bitz.Cargo_MarkupCompile.i.lref
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Bitz.Cargo_MarkupCompile.lref
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/GeneratedInternalTypeHelper.g.cs
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Views/BillingMainView.baml
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Views/BillingMainView.g.cs
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Views/BillingMainView.g.i.cs
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Views/Billings/DomesticsView.baml
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Views/Billings/DomesticsView.g.cs
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Views/Billings/DomesticsView.g.i.cs
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Views/Billings/DomesticView.baml
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Views/Billings/DomesticView.g.cs
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Views/Billings/DomesticView.g.i.cs
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Views/Billings/ForeignsView - Copy.g.i.cs
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Views/Billings/ForeignsView.baml
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Views/Billings/ForeignsView.g.cs
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Views/Billings/ForeignsView.g.i.cs
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Views/Billings/ForeignView - Copy.g.i.cs
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Views/Billings/ForeignView.baml
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Views/Billings/ForeignView.g.cs
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Views/Billings/ForeignView.g.i.cs
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Views/Billings/RorosView.baml
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Views/Billings/RorosView.g.cs
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Views/Billings/RorosView.g.i.cs
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Views/Billings/RoroView.baml
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Views/Billings/RoroView.g.cs
/Bitz.Cargo/Bitz.Cargo.WPF/obj/Debug/Views/Billings/RoroView.g.i.cs
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/ar/Csla.resources.dll
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/Bitz.Dashboard.dll
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/Bitz.Dashboard.pdb
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/bs/Csla.resources.dll
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/ca-ES/Csla.resources.dll
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/Csla.dll
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/Csla.xml
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/da/Csla.resources.dll
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/de/Csla.resources.dll
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/el/Csla.resources.dll
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/es-ES/Csla.resources.dll
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/es/Csla.resources.dll
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/fr/Csla.resources.dll
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/he-IL/Csla.resources.dll
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/hr/Csla.resources.dll
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/hu/Csla.resources.dll
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/it/Csla.resources.dll
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/km-KH/Csla.resources.dll
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/nl/Csla.resources.dll
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/no/Csla.resources.dll
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/pt-br/Csla.resources.dll
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/pt/Csla.resources.dll
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/ro/Csla.resources.dll
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/ru/Csla.resources.dll
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/sr/Csla.resources.dll
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/sv/Csla.resources.dll
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/tr/Csla.resources.dll
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/uk-ua/Csla.resources.dll
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/vi/Csla.resources.dll
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/zh-Hans/Csla.resources.dll
/Bitz.Dashboard/Bitz.Dashboard.Business/bin/Debug/zh-TW/Csla.resources.dll
/Bitz.Dashboard/Bitz.Dashboard.Business/obj/Debug/Bitz.Dashboard.Business.csproj.FileListAbsolute.txt
/Bitz.Dashboard/Bitz.Dashboard.Business/obj/Debug/Bitz.Dashboard.dll
/Bitz.Dashboard/Bitz.Dashboard.Business/obj/Debug/Bitz.Dashboard.pdb
/Bitz.Dashboard/Bitz.Dashboard.Business/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Bitz.Dashboard/Bitz.Dashboard.Business/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Bitz.Dashboard/Bitz.Dashboard.Business/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Bitz.Dashboard/Bitz.Dashboard.Business/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Bitz.Dashboard/Bitz.Dashboard.WPF/bin/Debug/Bitz.Core.dll
/Bitz.Dashboard/Bitz.Dashboard.WPF/bin/Debug/Bitz.Core.pdb
/Bitz.Dashboard/Bitz.Dashboard.WPF/bin/Debug/Bitz.Dashboard.dll
/Bitz.Dashboard/Bitz.Dashboard.WPF/bin/Debug/Bitz.Dashboard.pdb
/Bitz.Dashboard/Bitz.Dashboard.WPF/bin/Debug/De.TorstenMandelkow.MetroChart.dll
/Bitz.Dashboard/Bitz.Dashboard.WPF/bin/Debug/FirstFloor.ModernUI.dll
/Bitz.Dashboard/Bitz.Dashboard.WPF/bin/Debug/FirstFloor.ModernUI.xml
/Bitz.Dashboard/Bitz.Dashboard.WPF/obj/Debug/BasicPage1.g.i.cs
/Bitz.Dashboard/Bitz.Dashboard.WPF/obj/Debug/Bitz.Dashboard.dll
/Bitz.Dashboard/Bitz.Dashboard.WPF/obj/Debug/Bitz.Dashboard.g.resources
/Bitz.Dashboard/Bitz.Dashboard.WPF/obj/Debug/Bitz.Dashboard.pdb
/Bitz.Dashboard/Bitz.Dashboard.WPF/obj/Debug/Bitz.Dashboard.WPF.csproj.FileListAbsolute.txt
/Bitz.Dashboard/Bitz.Dashboard.WPF/obj/Debug/Bitz.Dashboard.WPF.csprojResolveAssemblyReference.cache
/Bitz.Dashboard/Bitz.Dashboard.WPF/obj/Debug/Bitz.Dashboard_MarkupCompile.cache
/Bitz.Dashboard/Bitz.Dashboard.WPF/obj/Debug/Bitz.Dashboard_MarkupCompile.i.cache
/Bitz.Dashboard/Bitz.Dashboard.WPF/obj/Debug/Bitz.Dashboard_MarkupCompile.lref
/Bitz.Dashboard/Bitz.Dashboard.WPF/obj/Debug/CargoDashBoard.g.i.cs
/Bitz.Dashboard/Bitz.Dashboard.WPF/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Bitz.Dashboard/Bitz.Dashboard.WPF/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Bitz.Dashboard/Bitz.Dashboard.WPF/obj/Debug/GeneratedInternalTypeHelper.g.cs
/Bitz.Dashboard/Bitz.Dashboard.WPF/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
/Bitz.Dashboard/Bitz.Dashboard.WPF/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Bitz.Dashboard/Bitz.Dashboard.WPF/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Bitz.Dashboard/Bitz.Dashboard.WPF/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Bitz.Dashboard/Bitz.Dashboard.WPF/obj/Debug/UserControl1.g.i.cs
/Bitz.Dashboard/Bitz.Dashboard.WPF/obj/Debug/Views/CargoDashBoard.g.i.cs
/Bitz.Dashboard/Bitz.Dashboard.WPF/obj/Debug/Views/CargoDashBoardView.baml
/Bitz.Dashboard/Bitz.Dashboard.WPF/obj/Debug/Views/CargoDashBoardView.g.cs
/Bitz.Dashboard/Bitz.Dashboard.WPF/obj/Debug/Views/CargoDashBoardView.g.i.cs
/Bitz.Dashboard/Bitz.Dashboard.WPF/obj/Debug/Views/TestView.g.i.cs
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/ar/Csla.resources.dll
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/Bitz.Payroll.dll
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/Bitz.Payroll.pdb
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/bs/Csla.resources.dll
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/ca-ES/Csla.resources.dll
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/Csla.dll
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/Csla.xml
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/da/Csla.resources.dll
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/de/Csla.resources.dll
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/el/Csla.resources.dll
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/es-ES/Csla.resources.dll
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/es/Csla.resources.dll
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/fr/Csla.resources.dll
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/he-IL/Csla.resources.dll
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/hr/Csla.resources.dll
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/hu/Csla.resources.dll
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/it/Csla.resources.dll
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/km-KH/Csla.resources.dll
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/nl/Csla.resources.dll
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/no/Csla.resources.dll
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/pt-br/Csla.resources.dll
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/pt/Csla.resources.dll
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/ro/Csla.resources.dll
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/ru/Csla.resources.dll
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/sr/Csla.resources.dll
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/sv/Csla.resources.dll
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/tr/Csla.resources.dll
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/uk-ua/Csla.resources.dll
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/vi/Csla.resources.dll
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/zh-Hans/Csla.resources.dll
/Bitz.Payroll/Bitz.Payroll.Business/bin/Debug/zh-TW/Csla.resources.dll
/Bitz.Payroll/Bitz.Payroll.Business/obj/Debug/Bitz.Payroll.Business.csproj.FileListAbsolute.txt
/Bitz.Payroll/Bitz.Payroll.Business/obj/Debug/Bitz.Payroll.dll
/Bitz.Payroll/Bitz.Payroll.Business/obj/Debug/Bitz.Payroll.pdb
/Bitz.Payroll/Bitz.Payroll.Business/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Bitz.Payroll/Bitz.Payroll.Business/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Bitz.Payroll/Bitz.Payroll.Business/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Bitz.Payroll/Bitz.Payroll.Business/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Bitz.Payroll/Bitz.Payroll.WPF/obj/Debug/Bitz.Payroll.dll
/Bitz.Payroll/Bitz.Payroll.WPF/obj/Debug/Bitz.Payroll.pdb
/Bitz.Payroll/Bitz.Payroll.WPF/obj/Debug/Bitz.Payroll.WPF.csproj.FileListAbsolute.txt
/Bitz.Payroll/Bitz.Payroll.WPF/obj/Debug/Bitz.Payroll.WPF.csprojResolveAssemblyReference.cache
/Bitz.Payroll/Bitz.Payroll.WPF/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Bitz.Payroll/Bitz.Payroll.WPF/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Bitz.Payroll/Bitz.Payroll.WPF/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Bitz.Payroll/Bitz.Payroll.WPF/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Bitz.Payroll/Bitz.Payroll.WPF/bin/Debug/Bitz.Core.dll
/Bitz.Payroll/Bitz.Payroll.WPF/bin/Debug/Bitz.Core.pdb
/Bitz.Payroll/Bitz.Payroll.WPF/bin/Debug/Bitz.Payroll.dll
/Bitz.Payroll/Bitz.Payroll.WPF/bin/Debug/Bitz.Payroll.pdb
/Bitz.Payroll/Bitz.Payroll.WPF/bin/Debug/De.TorstenMandelkow.MetroChart.dll
/Bitz.Payroll/Bitz.Payroll.WPF/bin/Debug/FirstFloor.ModernUI.dll
/Bitz.Payroll/Bitz.Payroll.WPF/bin/Debug/FirstFloor.ModernUI.xml
/Bitz.Reports/Bitz.Reports.Business/bin/Debug/Bitz.Reports.dll
/Bitz.Reports/Bitz.Reports.Business/bin/Debug/Bitz.Reports.pdb
/Bitz.Reports/Bitz.Reports.Business/bin/Debug/Csla.dll
/Bitz.Reports/Bitz.Reports.Business/obj/Debug/Bitz.Reports.Business.csproj.FileListAbsolute.txt
/Bitz.Reports/Bitz.Reports.Business/obj/Debug/Bitz.Reports.dll
/Bitz.Reports/Bitz.Reports.Business/obj/Debug/Bitz.Reports.pdb
/Bitz.Reports/Bitz.Reports.Business/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Bitz.Reports/Bitz.Reports.Business/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Bitz.Reports/Bitz.Reports.Business/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Bitz.Reports/Bitz.Reports.Business/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Output
obj
bin
/Bitz/Bitz.WPF/App.config
*.suo
